/* * {
    outline: 1px solid red !important;
  }
   */


.font-rowdies {
    font-family: "Rowdies", sans-serif;
}

.font-passion {
    font-family: "Passion One", sans-serif;
}

.font-glitch {
    font-family: "Rubik Glitch", sans-serif;
}

.font-league {
    font-family: "League Spartan", sans-serif;
}


.dot-background {
    --dot-bg: black;
    --dot-color: white;
    --dot-size: 1px;
    --dot-space: 22px;
    background:
        linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        var(--dot-color);
}


.typewriter-text {
    border-right: 2px solid #fbbf24;
    padding-right: 2px;
    animation: blink-caret 0.75s step-end infinite;
}



@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #fbbf24;
    }
}


.animated-line {
    animation: flow 3s linear infinite;
}

.line-2 {
    animation-delay: 0.5s;
}

@keyframes flow {
    to {
        stroke-dashoffset: -100;
    }
}

.feature-illustration {
    filter: drop-shadow(0 4px 8px rgba(251, 191, 36, 0.2));
}


.shimmer {
    position: absolute;
    top: 0;
    left: -150%;
    width: 150%;
    height: 100%;
    background: linear-gradient(120deg,
            transparent 0%,
            rgba(255, 255, 255, 0.15) 50%,
            transparent 100%);
    animation: shimmer-slide 5s infinite;
}

@keyframes shimmer-slide {
    0% {
        left: -150%;
    }

    100% {
        left: 150%;
    }
}


/* From Uiverse.io by Admin12121 */
.input {
    --icon-size: 28px;
    position: relative;
}

.input svg {
    position: absolute;
    width: var(--icon-size);
    top: 50%;
    left: 1rem;
    translate: 0 -50%;
    overflow: visible;
    color: color-mix(in lch, canvas, canvasText 30%);
}

.input svg path {
    transform-box: fill-box;
    transform-origin: center;
}

.input:is(:hover, :focus-within) .svg path {
    animation: pop 0.5s var(--d);
}

.input svg path:nth-of-type(1) {
    --d: 0.24s;
    --r: 20deg;
    --s: 1.5;
}

.input svg path:nth-of-type(2) {
    --d: 0.12s;
    --r: 10deg;
    --s: 1.4;
}

.input svg path:nth-of-type(3) {
    --d: 0s;
    --r: 0deg;
    --s: 1.25;
}

@keyframes pop {
    50% {
        scale: var(--s, 1);
        rotate: var(--r, 0deg);
    }
}

.search::placeholder {
    color: color-mix(in lch, canvas, canvasText 30%);
}

.search {
    font-family: inherit;
    min-width: 300px;
    padding: 1rem 1rem 1rem calc(1rem + var(--icon-size) + 0.5rem);
    font-size: 1.025rem;
    background:
        linear-gradient(canvas, canvas) padding-box,
        linear-gradient(120deg, hsl(278, 44%, 73%), hsl(35, 81%, 73%)) border-box;
    border: 4px solid transparent;
    border-radius: 12px;
    outline: none;
}

.bear-link {
    color: canvasText;
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 48px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    opacity: 0.8;
}

:where(.x-link, .bear-link):is(:hover, :focus-visible) {
    opacity: 1;
}

.bear-link .svg {
    width: 75%;
}




.search_container {
    max-width: 190px;
}

.search_label {
    position: relative;
    display: block;
    width: 280px;
    border-radius: 10px;
    border: 2px solid #5e5757;
    padding: 15px 8px 15px 10px;
    text-align: left;
    box-shadow:
        20px 20px 60px #3853c7,
        -20px -20px 60px #19ad88;
}

.search_shortcut {
    position: absolute;
    top: 50%;
    right: -3%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    color: #c5c5c5;
    background-color: #5e5757;
    padding: 0.3em;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.search_bar_input {
    border: none;
    outline: none;
    font-size: 16px;
    color: rgb(111, 115, 119);
}